<template>
  <v-chart class="chart" :option="option" />
</template>
<script>
import { use } from "echarts/core";
import { CanvasRenderer } from "echarts/renderers";
import { PieChart } from "echarts/charts";
import {
  TitleComponent,
  TooltipComponent,
  LegendComponent
} from "echarts/components";
import VChart, { THEME_KEY } from "vue-echarts";

use([
  CanvasRenderer,
  PieChart,
  TitleComponent,
  TooltipComponent,
  LegendComponent
]);

export default {
  name: "HelloWorld",
  components: {
    VChart
  },
  provide: {
    [THEME_KEY]: "dark"
  },
  data() {
    return {
      option: {
        title: {
          text: "График успеваемости студентов:",
          left: "center"
        },
        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
          orient: "vertical",
          left: "left",
          data: [
            "Франк Кристина Викторовна",
            "Кузьмина Дана Владимировна",
            "Попеляева Оксана Сергеевна",
            "Давыдова Диана",
            "Косиков Андрей Витальевич",
            "Шульга Александра Алексеевна",
            "Кифоренко Николай",
            "Шубин Святослав",
            "Толстиков Илья",
            "Корнийченко Михаил",

          ]
        },
        series: [
          {
            name: "График успеваемости студентов",
            type: "pie",
            radius: "55%",
            center: ["50%", "60%"],
            data: [
              { value: 12, name: "Франк Кристина Викторовна" },
              { value: 19, name: "Кузьмина Дана Владимировна" },
              { value: 15, name: "Попеляева Оксана Сергеевна" },
              { value: 15, name: "Давыдова Диана" },
              { value: 20, name: "Косиков Андрей Витальевич" },
              { value: 10, name: "Шульга Александра Алексеевна" },
              { value: 15, name: "Кифоренко Николай" },
              { value: 13, name: "Шубин Святослав" },
              { value: 20, name: "Толстиков Илья" },
              { value: 15, name: "Бабаков Степан Евгеньевич" },
              { value: 10, name: "Корнийченко Михаил" },
            ],
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: "rgba(0, 0, 0, 0.5)"
              }
            }
          }
        ]
      },
    };
  },
  async mounted() {
      await this.$store.dispatch("grade/getCourses");
      await this.$store.dispatch("student/getStudents");
      await this.$store.dispatch("grade/getGrades");
  }
};
</script>
<style scoped>
.chart {
  height: 400px;
}
</style>
